</br>
</br>
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>&copy; 2017-2019</p>
    <p class="text-muted"><a href="https://bitbucket.org/professorcase/node-express-mvc-ejs-start">Repository</a></p>
  </div>
</footer>