<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        <br>
        <br>
        <h1>Home page</h1>
        <br>
        <h3>Watch the address bar.</h3>
        <p>Create GET requests using the address bar.</p>
        <hr>
        <h3>During development, test your api here. </h3>
        <br>
  
        <h4>Requests to GET JSON</h4>
        <ol>
          <li> <a href="http://localhost:8089/customer/findall">http://localhost:8089/customer/findall</a>
          </li>
          <li> <a href="http://localhost:8089/customer/findone/1">http://localhost:8089/customer/findone/1</a>
          </li>
          <li> <a href="http://localhost:8089/customer/findone/91">http://localhost:8089/customer/findone/91</a>
          </li>
          <li> <a href="http://localhost:8089/customer/findone/92">http://localhost:8089/customer/findone/92</a>
          </li>
          <li> <a href="http://localhost:8089/customer/findone/93">http://localhost:8089/customer/findone/93</a>
          </li>
        </ol>
        <br>
        <h4>Requests to GET a view</h4>
        <ol>
          <li>
            <a href="http://localhost:8089/customer">http://localhost:8089/customer</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/create">http://localhost:8089/customer/create</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/customer/edit/91">http://localhost:8089/customer/edit/91</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/edit/92">http://localhost:8089/customer/edit/92</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/edit/93">http://localhost:8089/customer/edit/93</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/customer/delete/91">http://localhost:8089/customer/delete/91</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/delete/92">http://localhost:8089/customer/delete/92</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/delete/93">http://localhost:8089/customer/delete/93</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/customer/details/91">http://localhost:8089/customer/details/91</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/details/92">http://localhost:8089/customer/details/92</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/details/93">http://localhost:8089/customer/details/93</a>
          </li>
  
        </ol>
      </div>
    </div>
  </div>