<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        <br>
        <br>
        <h1>Home page</h1>
        <br>
        <h3>Watch the address bar.</h3>
        <p>Create GET requests using the address bar.</p>
        <hr>
        <h3>During development, test your api here. </h3>
        <br>
  
        <h4>Requests to GET JSON</h4>
        <ol>
          <li> <a href="http://localhost:3004/inst/findall">http://localhost:3004/inst/findall</a></li>
          <li> <a href="http://localhost:3004/inst/findone/1">http://localhost:3004/inst/findone/1</a></li>
        </ol>
        <ol>
          <li> <a href="http://localhost:3004/stu/findall">http://localhost:3004/stu/findall</a></li>
          <li> <a href="http://localhost:3004/stu/findone/1">http://localhost:3004/stu/findone/1</a> </li>
        </ol>
        <ol>
          <li> <a href="http://localhost:3004/sec/findall">http://localhost:3004/sec/findall</a></li>
          <li> <a href="http://localhost:3004/sec/findone/1">http://localhost:3004/sec/findone/1</a> </li>
        </ol>
        <ol>
          <li> <a href="http://localhost:3004/cour/findall">http://localhost:3004/cour/findall</a></li>
          <li> <a href="http://localhost:3004/cour/findone/1">http://localhost:3004/cour/findone/1</a> </li>
        </ol>
          <li> <a href="http://localhost:3004/customer/findone/91">http://localhost:3004/customer/findone/91</a>
          </li>
          <li> <a href="http://localhost:3004/customer/findone/92">http://localhost:3004/customer/findone/92</a>
          </li>
          <li> <a href="http://localhost:3004/customer/findone/93">http://localhost:3004/customer/findone/93</a>
          </li>
        </ol>
        <br>
        <h4>Requests to GET a view</h4>
        <ol>
          <li> <a href="http://localhost:3004/inst/">http://localhost:3004/inst/</a></li>
          <li> <a href="http://localhost:3004/inst/create">http://localhost:3004/inst/create</a></li>
          <li> <a href="http://localhost:3004/inst/details">http://localhost:3004/inst/details</a></li>
          <li> <a href="http://localhost:3004/inst/edit">http://localhost:3004/inst/edit</a></li>
          <li> <a href="http://localhost:3004/inst/delete">http://localhost:3004/inst/delete</a></li>
        </ol>
        <ol>
          <li> <a href="http://localhost:3004/stu/">http://localhost:3004/stu/</a></li>
          <li> <a href="http://localhost:3004/stu/create">http://localhost:3004/stu/create</a></li>
          <li> <a href="http://localhost:3004/stu/details">http://localhost:3004/stu/details</a></li>
          <li> <a href="http://localhost:3004/stu/edit">http://localhost:3004/stu/edit</a></li>
          <li> <a href="http://localhost:3004/stu/delete">http://localhost:3004/stu/delete</a></li>
        </ol>
        <ol>
          <li> <a href="http://localhost:3004/sec/">http://localhost:3004/sec/</a></li>
          <li> <a href="http://localhost:3004/sec/create">http://localhost:3004/sec/create</a></li>
          <li> <a href="http://localhost:3004/sec/details">http://localhost:3004/sec/details</a></li>
          <li> <a href="http://localhost:3004/sec/edit">http://localhost:3004/sec/edit</a></li>
          <li> <a href="http://localhost:3004/sec/delete">http://localhost:3004/sec/delete</a></li>
        </ol>
        <ol>
          <li> <a href="http://localhost:3004/cour/">http://localhost:3004/cour/</a></li>
          <li> <a href="http://localhost:3004/cour/create">http://localhost:3004/cour/create</a></li>
          <li> <a href="http://localhost:3004/cour/details">http://localhost:3004/cour/details</a></li>
          <li> <a href="http://localhost:3004/cour/edit">http://localhost:3004/cour/edit</a></li>
          <li> <a href="http://localhost:3004/cour/delete">http://localhost:3004/cour/delete</a></li>
        </ol>
            <a href="http://localhost:3004/customer/create">http://localhost:3004/customer/create</a>
          </li>
  
          <li>
            <a href="http://localhost:3004/customer/edit/91">http://localhost:3004/customer/edit/91</a>
          </li>
          <li>
            <a href="http://localhost:3004/customer/edit/92">http://localhost:3004/customer/edit/92</a>
          </li>
          <li>
            <a href="http://localhost:3004/customer/edit/93">http://localhost:3004/customer/edit/93</a>
          </li>
  
          <li>
            <a href="http://localhost:3004/customer/delete/91">http://localhost:3004/customer/delete/91</a>
          </li>
          <li>
            <a href="http://localhost:3004/customer/delete/92">http://localhost:3004/customer/delete/92</a>
          </li>
          <li>
            <a href="http://localhost:3004/customer/delete/93">http://localhost:3004/customer/delete/93</a>
          </li>
  
          <li>
            <a href="http://localhost:3004/customer/details/91">http://localhost:3004/customer/details/91</a>
          </li>
          <li>
            <a href="http://localhost:3004/customer/details/92">http://localhost:3004/customer/details/92</a>
          </li>
          <li>
            <a href="http://localhost:3004/customer/details/93">http://localhost:3004/customer/details/93</a>
          </li>
  
        </ol>
      </div>
    </div>
  </div>