<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        <br>
        <br>
        <h1>Home page</h1>
        <h3>About The Developers</h3>
        <ul>
          <li><a href="http://josephwatts.me/about-me/">Joseph Watts</a></li>
          <li><a href="https://cweltonsmith.github.io/about-me/">Chase Smith</a></li>
          <li><a href="https://khart0012.github.io/about-me/">Kevin Hart</a></li>
          <li><a href="https://connorbeshears.github.io/about-me-20/">Connor Beshears</a></li>
        </ul>
        <hr>
        <br>
        <h3>Courses</h3>
        <!-- group specific requirement -->
        <ul>
            <%
            for (let i = 0; i < courses.length; i++) {%>
               <li>
                 <% let url = "/getSectionsFromCourses/" + i%>
                  <a href="<%= url %>"><%=courses[i].Name%></a>
                </li>
            <%
            }
            %>
        </ul>

        <hr>
        <br>
        <h4>Requests to GET JSON</h4>
        Instructor
        <ol>
          
          <li> <a href="http://localhost:3004/inst/findall">http://localhost:3004/inst/findall</a></li>
          <li> <a href="http://localhost:3004/inst/findone/1">http://localhost:3004/inst/findone/1</a></li>
        </ol>
        Student
        <ol>
          <li> <a href="http://localhost:3004/stu/findall">http://localhost:3004/stu/findall</a></li>
          <li> <a href="http://localhost:3004/stu/findone/1">http://localhost:3004/stu/findone/1</a> </li>
        </ol>
        Section
        <ol>
          <li> <a href="http://localhost:3004/sec/findall">http://localhost:3004/sec/findall</a></li>
          <li> <a href="http://localhost:3004/sec/findone/1">http://localhost:3004/sec/findone/1</a> </li>
        </ol>
        Course
        <ol>
          <li> <a href="http://localhost:3004/cour/findall">http://localhost:3004/cour/findall</a></li>
          <li> <a href="http://localhost:3004/cour/findone/1">http://localhost:3004/cour/findone/1</a> </li>
        </ol>
        <br>
        <h4>Requests to GET a view</h4>
        Instructor
        <ol>
          <li> <a href="http://localhost:3004/inst/">http://localhost:3004/inst/</a></li>
          <li> <a href="http://localhost:3004/inst/create">http://localhost:3004/inst/create</a></li>
          <li> <a href="http://localhost:3004/inst/details">http://localhost:3004/inst/details</a></li>
          <li> <a href="http://localhost:3004/inst/edit">http://localhost:3004/inst/edit</a></li>
          <li> <a href="http://localhost:3004/inst/delete">http://localhost:3004/inst/delete</a></li>
        </ol>
        Student
        <ol>
          <li> <a href="http://localhost:3004/stu/">http://localhost:3004/stu/</a></li>
          <li> <a href="http://localhost:3004/stu/create">http://localhost:3004/stu/create</a></li>
          <li> <a href="http://localhost:3004/stu/details">http://localhost:3004/stu/details</a></li>
          <li> <a href="http://localhost:3004/stu/edit">http://localhost:3004/stu/edit</a></li>
          <li> <a href="http://localhost:3004/stu/delete">http://localhost:3004/stu/delete</a></li>
        </ol>
        Section
        <ol>
          <li> <a href="http://localhost:3004/sec/">http://localhost:3004/sec/</a></li>
          <li> <a href="http://localhost:3004/sec/create">http://localhost:3004/sec/create</a></li>
          <li> <a href="http://localhost:3004/sec/details">http://localhost:3004/sec/details</a></li>
          <li> <a href="http://localhost:3004/sec/edit">http://localhost:3004/sec/edit</a></li>
          <li> <a href="http://localhost:3004/sec/delete">http://localhost:3004/sec/delete</a></li>
        </ol>
        Course
        <ol>
          <li> <a href="http://localhost:3004/cour/">http://localhost:3004/cour/</a></li>
          <li> <a href="http://localhost:3004/cour/create">http://localhost:3004/cour/create</a></li>
          <li> <a href="http://localhost:3004/cour/details">http://localhost:3004/cour/details</a></li>
          <li> <a href="http://localhost:3004/cour/edit">http://localhost:3004/cour/edit</a></li>
          <li> <a href="http://localhost:3004/cour/delete">http://localhost:3004/cour/delete</a></li>
        </ol>
        
  
      </div>
    </div>
  </div>