<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
        <h3>GET resources</h3>
        <ol>
            <li> <a href="http://localhost:3004/stu/findall">http://localhost:3004/stu/findall</a></li>
            <li> <a href="http://localhost:3004/stu/findone/1">http://localhost:3004/stu/findone/1</a></li>
            <li> <a href="http://localhost:3004/stu/">http://localhost:3004/stu/</a></li>
            <li> <a href="http://localhost:3004/stu/create">http://localhost:3004/stu/create</a></li>
            <li> <a href="http://localhost:3004/stu/details">http://localhost:3004/stu/details</a></li>
            <li> <a href="http://localhost:3004/stu/edit">http://localhost:3004/stu/edit</a></li>
            <li> <a href="http://localhost:3004/stu/delete">http://localhost:3004/stu/delete</a></li>
        </ol>
    </div>
    <div class="col-md-6">
            <h3>POST resources</h3>
            <ol>
                <li> <a href="http://localhost:3004/stu/">http://localhost:3004/stu/</a></li>
                <li> <a href="http://localhost:3004/stu/create">http://localhost:3004/stu/create</a></li>
                <li> <a href="http://localhost:3004/stu/details">http://localhost:3004/stu/details</a></li>
                <li> <a href="http://localhost:3004/stu/edit">http://localhost:3004/stu/edit</a></li>
                <li> <a href="http://localhost:3004/stu/delete">http://localhost:3004/stu/delete</a></li>
            </ol>
        </div>
    <div class="col-md-3">
      <a href="stu/create" class="btn btn-primary new">
        add a new student
      </a>
      
    </div>
  </div>
</div>